In [ ]:
""" elif ondition:  when Multiple Condition 
synatx:
if copndition:
    astatement
elif condition:
    statement
elif condition:
    statement
else:
    statement




"""

In [4]:
marks=int(input("Enter Marks= "))
if marks>=70:
    print("Grade A")
elif marks>=60 and marks<70:
    print("B Grade")
elif marks>=50 and marks<60:
    print("Grade C")
elif marks>=40 and marks<50:
    print("D Grade")
else:
    print("Fail")

Fail

In [ ]:
""" 
Nested If...else: when Condition Is Inside another Condition""" 
# syntax:
""" 
if condition:
    if condition:
        statement
    else:
        statement
else:
    if condition:
        statement
    else:
        statement
"""

' \nif condition:\n    if condition:\n        statement\n    else:\n        statement\n'

In [8]:
marks=int(input("ENter MArks= "))
if marks>=0 and marks<=100:
    if marks>=70:
        print("Grade A")
    elif marks>=60 and marks<70:
        print("B Grade")
    elif marks>=50 and marks<60:
        print("Grade C")
    elif marks>=40 and marks<50:
        print("D Grade")
    else:
        print("Fail")
else:
    print("Invalid Marks!!")

D Grade

In [ ]:
num1=int(input("ENter Number 1= "))
num2=int(input("ENter Number 2= "))
num3=int(input("ENter Number 3= "))

if num1>num2:
    if num1>num3:
        print(f"{num1} is greter")
    else:
        print(f"{num3} is greter")
else:
    if num2>num3:
        print(f"{num2} is greter")
    else:
        print(f"{num3} is greter")

45 is greter

In [12]:
""" Lopping statement :repetation the block of code

therer are mainly two types of loop:
1)for loop :
for loop is an sequance control loop and its also entry controll,when we no number of iterartion
syntax:
for var in sequence:
    statement
"""

' Lopping statement :repetation the block of code\n\ntherer are mainly two types of loop:\n1)for loop :\nfor loop is an sequance control loop and its also entry controll,when we no number of iterartion\nsyntax:\nfor var in sequence:\n    statement\n'

In [13]:
"""  
range(): range is function or dadtype used with for loop
there are mainly there parameter 
1)start:optional by default 0
2)stop: required exclusive work
3)step :optional by default 1

syntax:
 range([start],stop,[step])
  range(2,6)#2,3,4,5
range()
  """

'  \nrange(): range is function or dadtype used with for loop\nthere are mainly there parameter \n1)start:optional by default 0\n2)stop: required exclusive work\n3)step :optional by default 1\n\nsyntax:\n range([start],stop,[step])\n  range(2,6)#2,3,4,5\nrange()\n  '

In [14]:
for i in  range(6):
    print(i)

0
1
2
3
4
5

In [15]:
for i in range(1,6):
    print(f"({i}) hello")

(1) hello
(2) hello
(3) hello
(4) hello
(5) hello

In [16]:
for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5