In [ ]:
""" date-09-10-2025  
collection in python :
there is 4 types of colection :
1)list
2)tuple
3)set
4)dictonary

----------------------------------------------\
1)list: list is an orderable,indexable ,sequanceble data type 
         list is denoted by square [] braces 
         list is mutable data type 
         by default list index start with 0
         list can store any type of data

syntax:=
var = [] #empty list

difference beetween array and list
list can store similiar and de-similoiar data
array  only store similiar data


"""

In [2]:
l1=[]
print(l1)# emopty list

fruit_list=['apples','mango','banana','kiwi']
print(fruit_list)
print("-"*50)
for item in fruit_list:
    print(item)

[]
['apples', 'mango', 'banana', 'kiwi']
--------------------------------------------------
apples
mango
banana
kiwi

In [3]:
list1=['apple','mango','kiwi','banana']
count=0
for i in list1:
    count+=1
    print(f" ({count})  {i}")
print(f"Total Fruits= {count}")
print(f"Total Fruits= {len(list1)}")

 (1)  apple
 (2)  mango
 (3)  kiwi
 (4)  banana
Total Fruits= 4
Total Fruits= 4

In [5]:
""" 

list indexing
list index start with 0
positive indexing
0    1 2 3 4
[10,20,30,40,50]
-5 -4 -3 -2 -1 # negative indexing

"""

l1=[2334,76,98,345,35,65]
print(f"first no= {l1[0]}")
print(f"first no= {l1[-len(l1)]}")
print(f" last no ={l1[-1]}")
print(f" last no= {l1[len(l1)-1]}")

first no= 2334
first no= 2334
 last no =65
 last no= 65

In [6]:
subject_list=['math','gujarati','english','marathi','telugu']
print(f"First Subject= {subject_list[0]}")
print(f"First Subject= {subject_list[-len(subject_list)]}")
print(f"LAst Subject = {subject_list[-1]}")
print(f"LAst Subject IS = {subject_list[len(subject_list)-1]}")

First Subject= math
First Subject= math
LAst Subject = telugu
LAst Subject IS = telugu

In [11]:
"""  

list slicing"""


list1=[1,2,34,4,665]
print(list1[:3])# first 3 no


print(list1[-3:]) # last 3 no

[1, 2, 34]
[34, 4, 665]

In [12]:
""" 
To add Data In Existoing List 

therev is three method and also + opoerator
1) append()
2) extend()
3) insert()

"""

' \nTo add Data In Existoing List \n\ntherev is three method and also + opoerator\n1) append()\n2) extend()\n3) insert()\n\n'